body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #ffb6c1, #87cefa);
  padding: 20px;
  color: #000;
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  padding: 10px;
  color: #000;
  background-color: #87cefa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffb6c1;
}

#alarmStatus {
  margin-bottom: 20px;
}

#startStretchingButton {
  margin-bottom: 20px;
}

#intervalSetting {
  margin-bottom: 20px;
}

input[type='number'] {
  width: 60px;
  text-align: center;
}

.intervalText {
  font-size: 14px;
}
