body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #ffb6c1, #87cefa);
  padding: 20px;
  color: #000;
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  padding: 10px;
  color: #000;
  background-color: #87cefa;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffb6c1;
}

input[type='number'] {
  width: 45%;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  float: left;
}

#startStretchingButton {
  margin-bottom: 20px;
}

#pauseButton {
  width: 100%;
  margin: 10px 0;
}

#saveButton {
  width: 45%;
  float: right;
}

#reminderIntervalInput,
#saveButton {
  display: inline-block;
}
